html {
  background-color: #1A2B41; 
  color: white;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.label {
  color: #A3AAB3;
}

div.main_content {
  padding: 10px;
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 12px;
}

div.logo {
  font-size: 14vw;
  color: chocolate;
  text-align: center;
}

div.section_label { 
  color: white;/*#A3AAB3;*/
  font-size:3vw;
  text-decoration:underline;
}

div.card {
  padding: 10px;
  background-color: #2E3E52;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #0D1521;
}

div.currency_label {
  color: gray;
  font-family: "Open Sans",Tahoma,Helvetica,sans-serif;
  font-size: 5vw;
  text-align: center;
}
div.address_label {
  color: white;
  line-height: 
  font-family: "Open Sans",Tahoma,Helvetica,sans-serif;
  font-size: 2.5vw;
  text-align: center;
}

div.tsl {
  line-height:27px;
}


div.timestamps_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-column-gap: 10px;
}

div.form_grid {
  display: grid;
  grid-template-columns: 0px 1fr;
}

input, textarea, select {
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 16px;
  border: none;
  height: 28px;
  border-radius: 2px;
  background-color: #253241;
  padding-left: 8px;
  color: white;
  /*font-family: var(--font-family);*/
  font-weight: 300;
}

div.button {
  cursor:pointer;
  font-weight: 300;
  width:fit-content;
  margin-left:auto;
  margin-right:auto;
  font-size: 3vw;
  border: none;
  border-radius: 2px;
  box-shadow: 10px 10px 5px #0D1521;
  /*width: min-content;*/
  white-space: nowrap;
  padding: 4px 32px;
  background-color: #3E92CC;
}

div.small_button {
  cursor:pointer;
  font-weight: 200;
  width:fit-content;
  margin-left:auto;
  margin-right:auto;
  font-size: 2.5vw;
  border: none;
  border-radius: 2px;
  /*box-shadow: 10px 10px 5px #0D1521;*/
  /*width: min-content;*/
  white-space: nowrap;
  padding: 4px 32px;
  background-color: #2E82BC;
}

span.nobreak {
  white-space:nowrap;
}

div.copy_grid {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
}
